*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --naranja: #e48826;
    --lila: #bb99b7;
    --rosa: #ecc8c9;
    --marron: #c6a78f;
    --verde: #a0b3a8;
    --crema: #f5e7e4;
}
header{
    background-color:var(--lila);
    color: var(--crema);
    padding: 0.5rem;
}
body{
    background-color:var(--crema);
}
main {
    flex-direction: row;    
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 3rem;
    background-color:var(--rosa);

    /* max-width: 800px; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.foto{
    border-radius: 50%;
    /* margin-bottom: 10px; */
    height: 12rem;
    width: 12rem;
}
/* .card-content{
    padding: 1.5rem;
} */
.card-content p{
    font-style: italic;
}
.uno {
    color: var(--verde);
    font-weight: 500;
}
.uno article {
    background-color: #fff;
}
.uno article, .dos article{
    margin: 20px;
    padding: 20px 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
}
.uno h2 {
    color: var(--naranja);
}

.uno p {
    text-align: justify;
    margin: 0.5rem;
}

.estudios p {
    text-align: center;
}

.dos article {
    background-color:#bb99b7;
    color: var(--rosa);
}

img {
    width: 70px;
    height: 70px;
    width: auto;
    padding: 0.5rem;
}

footer{
    background-color:var(--verde);
    color: #f5e7e4;
    font-weight:700;
    padding: 0.3rem;
    text-align: center;
}

@media (min-width:768px) {
   
    .card {
        padding: 3rem 15rem;
        flex-direction: row;
    }

}